{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'hello/css/style.css' %}" />
    <!--<script src="main.js"></script>-->
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ message|safe }}</p>
    <table>
        <form action="{% url 'find' %}" method="post">
            {% csrf_token %}
            {{form}}
            <tr><th></th><td><input type="submit" value="click"></td></tr>
        </form>
    </table>
    <hr>
    <table>
        <tr>
            <th>data</th>
            <th></th>
            <th></th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{item}}</td>
                <td><a href="{% url 'edit' item.id %}">Edit</a></td>
                <td><a href="{% url 'delete' item.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>